@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    --background: #F3F5FC;
    --color-primary: #0A3871;
    --backgroud-resultado: #FFF;
    --font-h2-color: #343A40;

    font-size: 10px;
}

body {
    background-color: var(--background);
}

.content {
    display: flex;
    min-height: 100vh;
}

.logo {
    padding: 4rem 0 0 8.4rem;
}

main {
    display: flex;
    margin-left: 10rem;
    height: 100%;
    width: 100%;
}

.criptografar {
    margin: 10rem 0 0 0;
    width: 60%;
}

textarea {
    margin: 0 auto;
    border: none;
    resize: none;
    font-size: 3.2rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: #0A3871;
    outline: none;
    max-width: 100%;
    padding: 0;
}

textarea::placeholder {
    color: #0A3871;
}

.alert {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    opacity: 80%;
    margin: 1rem;
}

.alert span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    color: white;
    font-size: inherit;
    background-color: var(--font-h2-color);
}

.buttons {
    display: flex;
}

.buttons button {
    margin: 0 1rem 0 0;
}

button {
    display: inline-block;
    border: none;
    outline: none;
    width: 100%;
    height: 6.7rem;
    border-radius: 2.4rem;
}

.btn-primario {
    background-color: var(--color-primary);
    color: #FFF;
}

.caixa-resultado {
    display: flex;
    width: 40%;
    justify-content: center;
}

.resultado {
    display: flex;
    position: relative;
    background-color: var(--backgroud-resultado);
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 95%;
    border-radius: 3.2rem;
    margin-top: auto;
}

.sem-mensagem {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
}

.sem-mensagem div {
    height: auto;
    line-height: 2.8rem;
    font-family: 'Inter', sans-serif;
}

.sem-mensagem img {
    max-width: 100%;
}

.sem-mensagem h2 {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--font-h2-color);
}

.sem-mensagem p {
    font-weight: 400;
    font-size: 1.6rem;
    width: 80%;
    margin: 2rem auto;
}

.mensagem-final {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 3rem;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    font-size: 2.4rem;
    font-family: 'Inter', sans-serif;
}

.mensagem-final>p {
    text-align: center;
    word-break: break;
    margin: 0 2rem;
}

footer {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--background);
    background-color: var(--color-primary);
    padding: 1rem;
    margin-top: 2rem;
}

.display-none {
    display: none !important;
}

@media screen and (max-width: 1000px) {

    .content,
    main,
    .resultado,
    .caixa-resultado,
    .logo,
    .sem-mensagem {
        display: block;
        margin: 0;
        padding: 0;
        height: auto;
    }


    main,
    header {
        width: 90%;
        margin: 0 auto;
    }

    .logo {
        padding-top: 7.3rem;
    }

    main section {
        width: 100% !important;
    }

    .caixa-resultado {
        margin-top: 3rem;
    }

    .resultado {
        position: static;
        width: 100%;
    }

    .sem-mensagem img {
        display: none;
    }

    .sem-mensagem div {
        padding: 3rem;
    }

    .mensagem-final {
        width: 100%;
        margin: 0;
        padding: 3rem;
    }

    .mensagem-final button {
        margin-top: 3rem;
    }

    footer {
        margin-top: 3rem;
    }

}

@media screen and (max-width: 500px) {

    main,
    header {
        width: 95%;
    }

    .buttons {
        display: block;
        max-width: 100%;
    }

    .buttons button {
        margin: 0.5rem 0;
    }
}